*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Space Grotesk', sans-serif;

}

.main{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
}

.section-left{
    background-image: url(images/bg-main-desktop.png);
    background-size: cover;
    position: relative;
}

.card-one, .card-two{
    position: absolute;
    display: inline-block;
    width: 50rem;
    height: 25rem;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
}

.card-one{
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-100%);
    left: 40%;
    background-image: url(images/bg-card-front.png);
    padding: 20px;

}

.card-two{
    top: 55%;
    left: 55%;
    background-image: url(images/bg-card-back.png);
}

.card-one-circles{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.circle-1, .circle-2{
    display: block;
    border-radius: 100px;
}

.circle-1{
    background-color: #fff;
    height: 4rem;
    width: 4rem;
}

.circle-2{
    background-color: transparent;
    border: 1px solid #fff;
    height: 2rem;
    width: 2rem;
}

.card-one-code{
    display: flex;
    gap: 1.8rem;
    margin-top: 8rem;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 4px;
}

.card-one-lower{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.card-one-name, .card-one-expirenece,.card-two-code{
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

.card-one-name{
  text-transform: uppercase;
}

.card-two-code{
    position: absolute;
    top: 50%;
    left: 80%;
}

/* section-right */

.section-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-double{
    display: flex;
    gap: 2rem;
}

.cvc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label-form{
    color: hsl(278, 68%, 11%);
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.card-holder, .card-number{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.first-input, .date-input{
    height: 4rem;
    padding: 1rem;
    border-radius: 5px;
    outline: 1px solid hsl(279, 6%, 55%);
    border: none;
}

.first-input::placeholder{
    color: hsl(279, 6%, 55%);
}

.date-input{
    width: 8rem;
}

.date-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs-date{
    display: flex;
    gap: 1rem;
}

.cvc-nput{
    width: 16rem;
}

.btn-confirm{
    margin-top: 1rem;
    height: 4rem;
    border: none;
    color: #fff;
    background-color: hsl(278, 68%, 11%);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-confirm:hover{
    cursor: pointer;
    background-color: hsl(276, 79%, 4%);
}

.first-input:focus, .date-input:focus{
    outline-width: 2px;
    border: none
}


.complteet-state{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 4rem;
}

.mark{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border-radius: 100px;
    background-size: cover;
    background-image: url(images/bg-card-front.png);
}

.mark-icon{
    color: #fff;
    font-size: 4rem;
}

.compltete-text-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.complete-heading{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 4px;
    color: hsl(278, 68%, 11%);
}

.compleye-p{
    text-align: center;
    color: hsl(279, 6%, 55%);
    font-size: 2rem;
}

.btn-continue{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #fff;
    background-color: hsl(276, 79%, 4%);
    border-radius: 10px;
    width: 100%;
}

.btn-continue:hover{
    cursor: pointer;
    background-color: hsl(278, 100%, 2%);
}

.hidden{
    display: none;
}
